/**
*
*	Name:			IRANSansX Fonts
*	Version:			3
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Apr 22, 2021
*	Updated on:		Jul 12, 2023
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونتایران سنس Xا یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANSansX fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (0LMKTA5E)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/woff/IRANSansX-Medium.woff') format('woff'),   
	url('../fonts/woff2/IRANSansX-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/woff/IRANSansX-ExtraBold.woff') format('woff'),   
	url('../fonts/woff2/IRANSansX-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/woff/IRANSansX-Black.woff') format('woff'),   
	url('../fonts/woff2/IRANSansX-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX-num;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/woff/IRANSansXFaNum-Bold.woff') format('woff'),   
	url('../fonts/woff2/IRANSansXFaNum-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansX-num;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/woff/IRANSansXFaNum-Black.woff') format('woff'),   
	url('../fonts/woff2/IRANSansXFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansX-num;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/woff/IRANSansXFaNum-Medium.woff') format('woff'),   
	url('../fonts/woff2/IRANSansXFaNum-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IntelOne;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/woff/intelone-mono-font-family-medium.woff') format('woff'),   
	url('../fonts/woff2/intelone-mono-font-family-medium.woff2') format('woff2');		 
}