footer{
    border: var(--main-border);
    border-radius: 20px;
    margin-bottom: 50px;
}
.footer-content{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-first-item{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-sec-content-sec-section{
    display: flex;
    align-items: center;
    gap: 13px;
}
.footer-sec-content-sec-section li a{
    color: var(--sec-font-clr);
    text-decoration: none;
    font: var(--FA-DSK-normal-txt);
}
.footer-sec-item{

}