header{
    background-color: var(--blured-bg);
    backdrop-filter: var(--blured-effect);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 20px;
    cursor: default;
    border-radius: 20px;
    z-index: 1;
}
nav{
    display: flex;
    align-items: center;
}
.nav-item{
    display: inline-block;
    margin-left: 40px;
}
.nav-item-link{
    font: var(--FA-DSK-normal-txt);
    text-decoration: none;
    color: var(--sec-font-clr);
}
.nav-item-link:hover{
    color: var(--main-font-clr);
    transition: .3s;
}
.nav-button:hover{
    background-color: var(--active-clr);
    transition: .3s;
}
.nav-button{
    display: inline-flex;
    border: var(--main-border);
    border-radius: 10px;
    margin-top: 8px;
}
.nav-button-img{
    padding: 12px;
}
.nav-button:first-child{
    margin-left: 5px;
}


.subset-popout, .service-popout{
    background-color: var(--blured-bg);
    backdrop-filter: var(--blured-effect);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 135px;
    cursor: default;
    border-radius: 20px;
    z-index: 1;
    height: 100px;
}
.contact-popout{

}
.language-popout{

}
.login-popout{

}