header{
    background-color: var(--blured-bg);
    backdrop-filter: var(--blured-effect);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 20px;
    cursor: default;
    border-radius: 20px;
    z-index: 1;
}


nav{
    display: flex;
    align-items: center;
}
.nav-item{
    display: inline-block;
    margin-left: 40px;
}
.nav-item-link{
    font: var(--FA-DSK-normal-txt);
    text-decoration: none;
    color: var(--sec-font-clr);
}
.nav-item-link:hover{
    color: var(--main-font-clr);
    transition: .3s;
}
.nav-button:hover{
    background-color: var(--active-clr);
    transition: .3s;
}
.nav-button{
    display: inline-flex;
    border: var(--main-border);
    border-radius: 10px;
    margin-top: 8px;
}
.nav-button-img{
    padding: 12px;
}
.nav-button:first-child{
    margin-left: 5px;
}


.subset-popout, .service-popout{
    border: var(--main-border);
    background-color: var(--blured-bg);
    backdrop-filter: var(--blured-effect);
    padding: 65px;
    display: flex;
    gap: 160px;
    align-items: start;
    position: fixed;
    left: 0;
    top: 135px;
    cursor: default;
    border-radius: 20px;
    z-index: 1;
}
.subsets{
    display: grid;
    gap: 30px;
}
.subsets-rows{
    display: flex;
    gap: 80px;
}
.subsets-row{
    margin-top: 30px;
}
.subset-about-txt, .subsets-txt{
    color: var(--sec-font-clr);
    font: var(--FA-DSK-small-txt);
}
.subset{
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: start;
    margin-bottom: 40px;
}
.subset:last-child{
    margin-bottom: 0;
}
.subset > div > h2{
    color: var(--main-font-clr);
    font: var(--FA-DSK-semi-header-txt);
    margin-bottom: 5px;
}
.subset > div > p{
    color: var(--sec-font-clr);
    font: var(--FA-DSK-small-txt);
}


.contact-popout{
    border: var(--main-border);
    background-color: var(--blured-bg);
    backdrop-filter: var(--blured-effect);
    padding: 50px;
    position: fixed;
    left: 0;
    top: 135px;
    cursor: default;
    border-radius: 20px;
    z-index: 1;
}
.contact-title{
    font: var(--FA-DSK-semi-header-txt);
    color: var(--main-font-clr);
    margin-bottom: 35px;
}
.contact-field{
    caret-color: var(--sec-font-clr);
    font: var(--FA-DSK-normal-txt);
    -moz-font-feature-settings: "ss04";
    -webkit-font-feature-settings: "ss04";
    font-feature-settings: "ss04" !important;
    padding: 15px;
    color: var(--main-font-clr);
    outline: none;
    margin-bottom: 15px;
    background-color: var(--blured-bg);
    border: var(--main-border);
    border-radius: 10px;
    display: block;
    min-width: 300px;
    max-width: 300px;
}
.contact-field:last-child{
    margin-bottom: 0;
}
.contact-info{

}
.contact-textarea{
    min-height: 130px;
    max-height: 200px;
}



.language-popout{

}
.login-popout{

}