.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
}
.hero-text{
    font: var(--FA-DSK-intro-txt);
    color: var(--main-font-clr);
    max-width: 600px;
}
.c-frame-container{
    position: relative;
    float: left;
}
.hero-buttons{
    margin-top: 35px;
}
.hero-button{
    display: inline;
    margin-left: 5px;
}
.hero-button-link{
    position: relative;
    text-decoration: none;
    color: var(--main-font-clr);
    font: var(--FA-DSK-normal-txt);
    border: var(--main-border);
    padding: 15px 30px;
    border-radius: 10px;
}
.hero-button-link:hover{
    background-color: var(--active-clr);
    transition: 300ms;
}
.arrow-down{
    margin-right: 5px;
}
.arrow-down-svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
}
.hero-content{
    margin-bottom: 100px;
}