@import url(fontsetup.css);
@import url(header.css);
@import url(footer.css);
@import url(hero.css);

:root {
  /* Color Variables */
  --primary-bg: #0D1117;
  --secondary-bg: #161B22;
  --border-clr: #30363D;
  --active-clr: #1F6FEB;
  --primary-font-clr: #FFFFFF;
  --secondary-font-clr: #848D97;
  --placeholder-font-clr: #3F4449;

  /* Font Variables */
  --FA-DSK-intro-txt: 900 68px/180% Kahroba;
  --FA-DSK-header-txt: 700 42px/180% Kahroba;
  --FA-DSK-semi-header-txt: 700 25px/180% Kahroba;
  --FA-DSK-normal-txt: 500 16px/180% IRANSansX;
  --FA-DSK-small-txt: 500 10px/180% IRANSansX;

  --FA-MB-intro-txt: 900 45px/180% Kahroba;
  --FA-MB-header-txt: 700 39.3px/180% Kahroba;
  --FA-MB-semi-header-txt: 700 24.3px/180% Kahroba;
  --FA-MB-normal-txt: 500 15px/180% IRANSansX;
  --FA-MB-small-txt: 500 9.3px/180% IRANSansX;

  --transition-time: 0.2s;
  --border: 1px solid var(--border-clr);

  /* Size Variables */
  --DSK-win-padding: 240px;
  --TBL-win-padding: 140px;
  --MB-win-padding: 30px;

  --button-padding: 20px;
  --DSK-popout-padding: 50px;
  --MB-popout-padding: 40px;
  --DSK-card-padding: 30px;
  --MB-card-padding: 30px;

  --DSK-icon-size: 25px;
  --DSK-sec-icon-size: 21px;
  --MB-icon-size: 21px;
  --course-ico-size: ;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  white-space: 0;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: var(--primary-bg);
  overflow-x: hidden;
  max-width: 2560px;
}
*::placeholder {
  color: var(--placeholder-font-clr);
}
.button {
  display: inline-flex;
  padding: var(--button-padding);
  color: var(--primary-font-clr);
  background-color: var(--secondary-bg);
  border: var(--border);
  transition: var(--transition-time);
}

@media (min-width: 0) and (max-width: 699px) {
  body {
    padding: 0 var(--MB-win-padding);
  }
}
@media (min-width: 700px) and (max-width: 1199px) {
  body {
    padding: 0 var(--TBL-win-padding);
  }
}
@media (min-width: 1199px) {
  body {
    padding: 0 var(--DSK-win-padding);
  }
}