@import url(fontsetup.css);
@import url(header.css);
@import url(footer.css);
@import url(hero.css);

:root {
  /* Color Variables */
  --primary-bg: #0f0e13;
  --secondary-bg: #10151d;
  --border-clr: #181b20;
  --approve-clr: #1d7b1b;
  --cancel-clr: #b83a15;
  --active-clr: #3669ec;
  --blured-bg: rgba(
    15,
    14,
    19,
    0.8
  ); /* have to be with blured effect variable */

  --primary-font-clr: #ffffff;
  --secondary-font-clr: #555457;

  --border: 1px solid var(--border-clr);

  /* Font Variables */
  --FA-DSK-intro-txt: 900 50px/180% IRANSansX;
  --FA-DSK-header-txt: 900 32px/180% IRANSansX;
  --FA-DSK-semi-header-txt: 800 24px/180% IRANSansX;
  --FA-DSK-normal-txt: 500 16px/180% IRANSansX;
  --FA-DSK-small-txt: 500 13px/180% IRANSansX;

  --FA-MB-intro-txt: 900 40px/180% IRANSansX;
  --FA-MB-header-txt: 900 24px/180% IRANSansX;
  --FA-MB-semi-header-txt: 800 18px/180% IRANSansX;
  --FA-MB-normal-txt: 500 14px/180% IRANSansX;
  --FA-MB-small-txt: 500 11px/180% IRANSansX;

  --EN-DSK-intro-txt: ; /* to be completed in future */
  --EN-DSK-header-txt: ;
  --EN-DSK-semi-header-txt: ;
  --EN-DSK-normal-txt: ;
  --EN-DSK-small-txt: ;

  --EN-MB-intro-txt: ;
  --EN-MB-header-txt: ;
  --EN-MB-semi-header-txt: ;
  --EN-MB-normal-txt: ;
  --EN-MB-small-txt: ;

  /* Effect Variables */
  --blured-effect: blur(37.5px);
  --transition-time: 0.2s;

  /* Size Variables */
  --DSK-padding: 150px;
  --TAB-padding: 75px;
  --MB-padding: 25px;

  --button-padding: 12px 20px;
  --big-button-padding: 20px;
  --ico-button-padding: 14px;
  --footer-padding: 50px;

  --card-padding: 30px;
  --podcastcard-ep-padding: 5px 15px;

  --ico-size: 25px;
  --course-ico-size: 20px;
}

* {
  font-size: 100%;
  font-family: IRANSansX;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  white-space: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: var(--primary-bg);
  overflow-x: hidden;
  max-width: 2560px;
}
*::placeholder {
  color: var(--secondary-font-clr);
}
.button {
  display: inline-flex;
  padding: var(--button-padding);
  color: var(--primary-font-clr);
  background-color: var(--secondary-bg);
  transition: var(--transition-time);
}
.ico-button {
  display: inline-flex;
  padding: var(--ico-button-padding);
  color: var(--primary-font-clr);
  background-color: var(--secondary-bg);
  transition: var(--transition-time);
}
.approve-button {
  background-color: var(--active-clr);
}
.cancel-button:hover {
  background-color: var(--cancel-clr);
}

@media (min-width: 0) and (max-width: 699px) {
  body {
    padding: 0 var(--MB-padding);
  }
}
@media (min-width: 700px) and (max-width: 1199px) {
  body {
    padding: 0 var(--TAB-padding);
  }
}
@media (min-width: 1199px) {
  body {
    padding: 0 var(--DSK-padding);
  }
}
